# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.pdb
./.vs/*
.vs/interactive-execute-shellcode/FileContentIndex/090bfae7-9ea3-44d0-9711-c8eb61450b6c.vsidx
.vs/interactive-execute-shellcode/FileContentIndex/2ed471d6-73d3-4406-8cee-ebace8405cd1.vsidx
.vs/interactive-execute-shellcode/FileContentIndex/6e27a532-ac8d-4bf5-825f-445a5dc4eb37.vsidx
.vs/interactive-execute-shellcode/FileContentIndex/86c1a45f-7fc0-455e-9c84-80170d310b49.vsidx
.vs/interactive-execute-shellcode/FileContentIndex/e2c3a127-f0cc-434f-b6a6-0d3ca8a8bd4d.vsidx
.vs/interactive-execute-shellcode/v17/.suo
.vs/interactive-execute-shellcode/v17/Browse.VC.db
.vs/interactive-execute-shellcode/v17/ipch/AutoPCH/42890d1b15f5ee5a/MAIN.ipch
.vs/interactive-execute-shellcode/v17/ipch/AutoPCH/7df9a7783ac027e4/ADDRESSHUNTER.ipch
.vs/interactive-execute-shellcode/v17/ipch/AutoPCH/9838018b9fddc99c/MAIN.ipch
.vs/interactive-execute-shellcode/v17/ipch/AutoPCH/a3ad24a141eff553/FUNCTIONS.ipch
.vs/interactive-execute-shellcode/v17/Solution.VC.db

*.log
*.recipe
*.iobj
*.ipdb
*.tlog